<%inherit file="app_base.htm" />

<%block name="title">Completed Polls</%block>
<%block name="pageTitle">Completed Polls</%block>

<%block name="page_content">

  <% from django.db.models import Count %>

  <div class="container-fluid">
    <div class="row">
      
      %for poll in polls:

      <div class="col-lg-6 col-md-6">
        <div class="card">
          
          <div class="card-body">
            <h3 class="card-title text-truncate mr-5">${ poll.title }</h3>
            <div class="row">
              <div class="col-lg-12 col-md-12 table-responsive">
                <table class="table table-hover">
                  <thead class="text-primary">
                    <th>Name</th>
                    <th>Votes</th>
                  </thead>
                  <tbody>

                    %for candidate in poll.candidate_set.filter(status='A').annotate(num_votes=Count('vote')).order_by('-num_votes')[:5]:

                    <tr>
                      <td>${ candidate.firstname + " " + candidate.lastname }</td>
                      <td>${ candidate.vote_set.filter(round=poll.round).count() }</td>
                    </tr>
                    
                    %endfor
                  </tbody>
                </table>
              </div>
            </div>
            <a class="btn btn-block btn-danger btn-round btn-just-icon pollDelete delete-button text-light" data-id="${ poll.id }"><i class="material-icons">delete</i></a>

          </div>
        </div>
      </div>

      %endfor

    </div>
  </div>
</%block>
