<%inherit file="app_base.htm" />

<%block name="title">Edit Poll</%block>
<%block name="pageTitle">Edit Poll</%block>

<%block name="page_content">

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
          <div id="candidate-container">Loading...</div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#candidateModal">Add Candidate</button>

    </div>


  </div>

  <form method="POST" action="/dashboard/edit.addcandidate/${ poll }" id="candidateform" enctype="multipart/form-data">
    <div class="modal fade" id="candidateModal"> 
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Candidate</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
              ${ candidateform }
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="candidateSubmit">Add Candidate</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</%block>
