<%inherit file="/poll/templates/app_base.htm" />

<%block name="title">Home</%block>

<%block name="page_content">

<div class="container-fluid fullscreen h-100">
    <div class="row pt-5 h-100 justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 text-center animated">
            <h1 class="">Student Elect</h1>

            <div id="interface">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10 col-sm-12 m-3">
                            <div class="h3 text-primary mb-4">Under construction, check back later!</div>
                            <div class="h6 text-muted">If you already have an account, here's a link to your dashboard</div>
                            <a class="btn btn-submit m-0" href="/dashboard/">
                                    Dashboard
                            </a>
                        </div>
                    </div>
                </div>

            </div> 

        </div>            
    </div>
</div>
    


</%block>
