<%inherit file="base_ajax.htm" />

<%block name="content">

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-7 col-md-8 col-sm-10">
        <div class="card mt-1 pl-5 pr-5">
          <div class="card-img-top mt-1">
            <div class="material-icons success-image">success</>
          </div>
          <div class="card-body pb-5">
              <span class="h2 text-muted">Votes</span>
              <span class="h2 text-muted">Submitted!</span>
          </div>
        </div>
      </div>
  </div>
</div>
  


</%block>
