.cand-image{
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.close {
    position: absolute;
    top:3px;
    right:3px;
    padding: 2px;
    color: #aaa;
}